/* Start Variable */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
/* End Variable */
/* start of global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body,
ul,
a {
  font-family: 'Cairo', sans-serif;
  list-style-type: none;
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* small screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End of global rules */
/* Start of Component */
.main-heading {
  position: relative;
  text-align: center;
  padding: 10px 20px;
  text-transform: uppercase;
  border: 2px solid black;
  width: fit-content;
  margin: 0 auto 80px;
  transition: var(--main-transition);
}
.main-heading h2::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--main-color);
  border-radius: 50%;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
}
.main-heading h2::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--main-color);
  border-radius: 50%;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
}
/* End of Component */
/* Start Header */
header {
  background-color: white;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header .container > a {
  font-size: 26px;
  font-weight: bold;
  color: var(--main-color);
  position: absolute;
}
header .container nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .container nav ul {
  display: flex;
  font-size: 18px;
}
header .container nav ul li {
  padding: 25px 30px;
  color: black;
}
header .container nav ul li:hover {
  background-color: #f5f5f5;
  border-top: 4px solid var(--main-color);
  padding: 20px 30px;
}
@media (max-width: 768px) {
  header .container {
    flex-direction: column;
    margin: 10px 0;
  }
  header .container nav {
    margin: 40px 0 0 0;
    text-align: center;
  }
  header .container nav ul li {
    padding: 10px 10px 10px 0;
    font-size: 14px;
  }
  header .container nav ul li:hover {
    padding: 10px;
  }
}
/* End Header */
/* Start Landing */
.landing {
  position: relative;
}
.landing::before {
  content: '';
  position: absolute;
  left: 0;
  top: -40px;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-3deg);
  transform-origin: top left;
}
.landing .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 72px);
  /* flex-wrap: wrap; */
}
.landing .container .text {
  /* width: 500px; */
}
.landing .container .text h2 {
  font-size: 40px;
}
.landing .container .text p {
  font-size: 23px;
  color: #666666;
  line-height: 1.8;
}
.landing .container .img {
}
.landing .container .img img {
  height: 300px;
}
@media (max-width: 992px) {
  .landing .container .text {
    text-align: center;
  }
  .landing .container .text h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .landing .container .text p {
    font-size: 18px;
  }
  .landing .container .img img {
    display: none;
  }
}
.landing i {
}

/* End Landing */
/* Start Articles */

/* End Articles */
article {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
article .article-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
article .article-content .box {
  border: 1px solid rgb(235, 231, 231);
  position: relative;
}
article .article-content .box img {
  width: 100%;
  max-width: 100%;
}
article .article-content .box .text {
  padding: 20px;
}
article .article-content .box h2 {
  font-size: 18px;
  margin-bottom: 10px;
}
article .article-content .box p {
  margin-bottom: 30px;
  color: #777777;
  line-height: 1.5;
}
article .article-content .box a {
  color: var(--main-color);
  font-weight: 600;
}
article .article-content .box a::before {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 52px;
  right: 0;
  border-top: 1px solid rgb(235, 231, 231);
}
article .article-content .box a::after {
  content: '';
  font-family: 'Font Awesome 5 Free';
  content: '\f30b';
  font-weight: 900;
  position: absolute;
  right: 15px;
  bottom: 18px;
}
/* Start Gallery */
.gallery {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
}
.gallery .img {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 40px;
}
.gallery .img .box {
  border: 15px solid white;
  box-shadow: 0px 0px 14px 3px #cecdcd;
}

.gallery .img .box img {
  max-width: 100%;
  transition: var(--main-transition);
}

/* End Gallery */
/* Start Features */
.feature {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.feature .img img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.feature .feature-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 40px;
}
.feature .feature-content .box {
  text-align: center;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(206, 204, 204);
}
.feature .feature-content .box .text {
  padding: 20px 20px 40px;
}
.feature .feature-content .box img {
  max-width: 100%;
}
.feature .feature-content h2 {
  font-size: 40px;
  margin-bottom: 50px;
  margin-top: 40px;
  position: relative;
}
.feature .feature-content p {
  font-size: 20px;
  margin-bottom: 50px;
  line-height: 2;
  color: #777777;
}
.feature .feature-content a {
  font-size: 22px;
  padding: 0 25px;
  border: 3px solid;
  font-weight: bold;
  border-radius: 5px;
}
.feature .feature-content .box:first-child a {
  color: #f44036;
  border-color: #f44036;
}
.feature .feature-content .box:first-child h2::before {
  content: '';
  position: absolute;
  bottom: -15px;
  width: 100px;
  height: 5px;
  background-color: #f44036;
  left: 50%;
  transform: translateX(-50%);
}
.feature .feature-content .box:nth-child(2) a {
  color: #009688;
  border-color: #009688;
}
.feature .feature-content .box:nth-child(2) h2::before {
  content: '';
  position: absolute;
  bottom: -15px;
  width: 50px;
  height: 5px;
  background-color: #009688;
  left: 50%;
  transform: translateX(-50%);
}
.feature .feature-content .box:last-child a {
  color: #03a9f4;
  border-color: #03a9f4;
}
.feature .feature-content .box:last-child h2::before {
  content: '';
  position: absolute;
  bottom: -15px;
  width: 100px;
  height: 5px;
  background-color: #03a9f4;
  left: 50%;
  transform: translateX(-50%);
}
/* End Features */
