/* Start Variable */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
/* End Variable */
/* start of global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body,
ul,
a {
  font-family: 'Cairo', sans-serif;
  list-style-type: none;
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* small screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End of global rules */
/* Start of Component */
.main-heading {
  padding-bottom: 70px;
  position: relative;
}
.main-heading h2 {
  text-align: center;
  padding: 10px 20px;
  text-transform: uppercase;
  border: 1px solid black;
  width: fit-content;
  margin: 0 auto;
}
.main-heading h2::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--main-color);
  border-radius: 50%;
  left: 42%;
  bottom: 90px;
  transform: translateX(-50%);
}
.main-heading h2::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--main-color);
  border-radius: 50%;
  right: 41%;
  bottom: 90px;
  transform: translateX(-50%);
}
/* End of Component */
/* Start Header */
header {
  background-color: white;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header .container > a {
  font-size: 26px;
  font-weight: bold;
  color: var(--main-color);
  position: absolute;
}
header .container nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .container nav ul {
  display: flex;
  font-size: 18px;
}
header .container nav ul li {
  padding: 25px 30px;
  color: black;
}
header .container nav ul li:hover {
  background-color: #f5f5f5;
  border-top: 4px solid var(--main-color);
  padding: 20px 30px;
}
@media (max-width: 768px) {
  header .container {
    flex-direction: column;
    margin: 10px 0;
  }
  header .container nav {
    margin: 40px 0 0 0;
    text-align: center;
  }
  header .container nav ul li {
    padding: 10px 10px 10px 0;
    font-size: 14px;
  }
  header .container nav ul li:hover {
    padding: 10px;
  }
}
/* End Header */
/* Start Landing */
.landing {
  position: relative;
}
.landing::before {
  content: '';
  position: absolute;
  left: 0;
  top: -40px;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-3deg);
  transform-origin: top left;
}
.landing .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 72px);
  /* flex-wrap: wrap; */
}
.landing .container .text {
  /* width: 500px; */
}
.landing .container .text h2 {
  font-size: 40px;
}
.landing .container .text p {
  font-size: 23px;
  color: #666666;
  line-height: 1.8;
}
.landing .container .img {
}
.landing .container .img img {
  height: 300px;
}
@media (max-width: 992px) {
  .landing .container .text {
    text-align: center;
  }
  .landing .container .text h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .landing .container .text p {
    font-size: 18px;
  }
  .landing .container .img img {
    display: none;
  }
}
.landing i {
}

/* End Landing */
/* Start Articles */

/* End Articles */
article {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
article .article-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
article .article-content .box {
  border: 1px solid rgb(235, 231, 231);
  position: relative;
}
article .article-content .box img {
  width: 100%;
  max-width: 100%;
}
article .article-content .box .text {
  padding: 20px;
}
article .article-content .box h2 {
  font-size: 18px;
  margin-bottom: 10px;
}
article .article-content .box p {
  margin-bottom: 30px;
  color: #777777;
  line-height: 1.5;
}
article .article-content .box a {
  color: var(--main-color);
  font-weight: 600;
}
article .article-content .box a::before {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 52px;
  right: 0;
  border-top: 1px solid rgb(235, 231, 231);
}
article .article-content .box a::after {
  content: '';
  font-family: 'Font Awesome 5 Free';
  content: '\f30b';
  font-weight: 900;
  position: absolute;
  right: 15px;
  bottom: 18px;
}
